In [5]:
import pandas as pd
import numpy as np
from sklearn import decomposition
import matplotlib.pyplot as plt

In [ ]:
import sys
# print(sys.argv[1])

In [6]:
dataset = pd.read_csv("roo_data.csv")

In [7]:
#---------------Applying OneHot & Lable  Encoding-----------#
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
# xa=0.813664

In [8]:
data = dataset.iloc[:,:-1].values
label = dataset.iloc[:,-1].values

In [9]:
#---------------conversion of all categorial column values to vector/numerical--------#
data_t=np.zeros(shape=(20000, 31))
for i in range(14,31):
    data_t[:,i] = labelencoder.fit_transform(data[:,i])

In [10]:
#--------------normalizing the non-categorial column values---------#
# from sklearn.preprocessing import Normalizer
data1=data[:,:14]
# normalized_data = Normalizer().fit_transform(data1)
# print(normalized_data.shape)
# da=0.8383
# normalized_data
data2=data_t[:,14:]
# data2.shape
df1 = np.append(data1,data2,axis=1)

In [11]:
#--------------------------Adding Headers & convert np to pandas-----------------------#
X1 = pd.DataFrame(df1,columns=['Acedamic percentage in Operating Systems', 'percentage in Algorithms',
       'Percentage in Programming Concepts',
       'Percentage in Software Engineering', 'Percentage in Computer Networks',
       'Percentage in Electronics Subjects',
       'Percentage in Computer Architecture', 'Percentage in Mathematics',
       'Percentage in Communication skills', 'Hours working per day',
       'Logical quotient rating', 'hackathons', 'coding skills rating',
       'public speaking points', 'can work long time before system?',
       'self-learning capability?', 'certifications',
       'talenttests taken?',
       'reading and writing skills', 'memory capability score',
       'Interested subjects', 'interested career area ', 'Job/Higher Studies?',
       'Type of company want to settle in?',
       'Taken inputs from seniors or elders', 'interested in games',
       'Interested Type of Books', 
       'Gentle or Tuff behaviour?',
       'Management or Technical',
       'worked in teams ever?', 'Introvert'])
# X1.head()

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,interested career area,Job/Higher Studies?,Type of company want to settle in?,Taken inputs from seniors or elders,interested in games,Interested Type of Books,Gentle or Tuff behaviour?,Management or Technical,worked in teams ever?,Introvert
0,69,63,78,87,94,94,87,84,61,9,...,4.0,0.0,8.0,0.0,0.0,21.0,1.0,0.0,1.0,0.0
1,78,62,73,60,71,70,73,84,91,12,...,0.0,1.0,4.0,1.0,1.0,5.0,0.0,1.0,0.0,1.0
2,71,86,91,87,61,81,72,72,94,11,...,2.0,0.0,5.0,1.0,1.0,29.0,1.0,0.0,0.0,1.0
3,76,87,60,84,89,73,62,88,69,7,...,5.0,0.0,7.0,0.0,0.0,23.0,0.0,0.0,1.0,1.0
4,92,62,90,67,71,89,73,71,73,4,...,5.0,0.0,9.0,0.0,1.0,7.0,1.0,0.0,1.0,1.0

In [12]:
#------------------Encoding Final Output column Values------------#
label = labelencoder.fit_transform(label)
# print(len(label))
y=pd.DataFrame(label,columns=["Suggested Job Role"])
# y.head()

20000

   Suggested Job Role
0                   7
1                  18
2                  18
3                  28
4                   2

In [13]:
l2=labelencoder.inverse_transform(label)
# l2

array(['Database Developer', 'Portal Administrator',
       'Portal Administrator', ..., 'Business Intelligence Analyst',
       'Software Quality Assurance (QA) / Testing',
       'Applications Developer'], dtype=object)

In [14]:
dict={}
for i in label:
    dict[i]=l2[i]
    
# dict
# res = list({ele for val in dict.values() for ele in val})
# res

{7: 'Business Intelligence Analyst',
 18: 'CRM Business Analyst',
 28: 'Information Technology Manager',
 2: 'Portal Administrator',
 25: 'Information Security Analyst',
 1: 'Portal Administrator',
 4: 'Business Systems Analyst',
 14: 'Quality Assurance Associate',
 32: 'Systems Security Administrator',
 21: 'Business Systems Analyst',
 33: 'Business Systems Analyst',
 11: 'UX Designer',
 3: 'Systems Security Administrator',
 31: 'Business Systems Analyst',
 20: 'Database Developer',
 13: 'Business Systems Analyst',
 19: 'Information Security Analyst',
 9: 'CRM Technical Developer',
 26: 'Business Intelligence Analyst',
 27: 'Project Manager',
 16: 'Web Developer',
 5: 'Software Systems Engineer',
 22: 'Quality Assurance Associate',
 10: 'Mobile Applications Developer',
 30: 'Programmer Analyst',
 12: 'CRM Technical Developer',
 8: 'Business Systems Analyst',
 0: 'Database Developer',
 6: 'Database Developer',
 15: 'Web Developer',
 23: 'Technical Support',
 29: 'Web Developer',
 17: 'Information Security Analyst',
 24: 'Technical Support'}

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X1, np.ravel(y), test_size=0.4, random_state=1)
  
# training the model on training set
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)
from sklearn.metrics import accuracy_score  
# making predictions on the testing set
y_pred = gnb.predict(X_test)

In [16]:
dict1={
    0:'2',
    1:'56',
    2:'61',
    3:'70',
    4:'20',
    5:'12',
    6:'46',
    7:'69',
    8:'25',
    9:'8',
    10:'2',
    11:'1',
    12:'78',
    13:'80',
    14:'yes',
    15:'no',
    16:'python',
    17:'yes',
    18:'excellent',
    19:'poor',
    20:'IOT',
    21:'security',
    22:'job',
    23:'Testing and Maintainance Services',
    24:'yes',
    25:'no',
    26:'Travel',
    27:'gentle',
    28:'Technical',
    29:'yes',
    30:'no'
}
a1=[]

for i in dict1:
    a1.append(dict1[i])
x=np.array(a1)

tst_data=np.zeros(31)
tst_data1=np.zeros(14)
for i in range(14,31):
    labelencoder.fit(data[:,i])
    tst_data[i] = labelencoder.transform([(x[i])])  
    
for i in range(0,14):
    tst_data1[i]=x[i]

tst_data2=tst_data[14:]
df2 = np.append(np.array([tst_data1]),np.array([tst_data2]),axis=1)
a=gnb.predict(np.array(df2))

print(dict[a[0]])

Information Security Analyst

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(